%h4  Olá #{@receiver.first_name}!

%p
  Olá, gostaria de pedir a gentileza que enviasse uma qualificação positiva para a compra feita no Mercado Livre.
%p
  Para isso, entre em sua conta no Mercado Livre, entre em compras, vá nas últimas compras e clique em enviar qualificação :

%p
%p
%p
%p
%p
%p
  Observação: O site #{link_to(root_url, "AirCRM")} é uma aplicação que utilizo para facilitar o gerenciamento das minhas vendas. Ao acessa-lo você notará que existem selos e certificados de segurança, comprovando assim sua autenticidade e veracidade.
%p
  Porém se ainda assim você não se sentir seguro ou confortável poderá responder a esse email com o endereço de entrega.
