Olá #{@receiver.first_name}!

Olá, gostaria de pedir a gentileza que enviasse uma qualificação positiva para a compra feita no Mercado Livre.

Para isso, entre em sua conta no Mercado Livre, entre em compras, vá nas últimas compras e clique em enviar qualificação :




