Olá #{@user.first_name}, seja bem vindo ao AirCRM!
\
Nos próximos 14 dias você poderá experimentar gratuitamente o AirCRM. Nele você pode gerenciar seus pedidos e vendas, responder perguntas, monitorar avaliações, imprimir etiquetas, subir anúncios em massa, tudo isso de forma rápida sem precisar entrar no Mercado Livre. Ideal para ordens sem endereço e com diferença de frete. Perfeito para montagem de anúncios em massa. Rápido na impressão de etiquetas. Aproveite o máximo que puder!
\
Excelência em atendimento:
* Conte com nosso atendimento a qualquer momento
* Nossa equipe estará a disposição via chat, telefone ou email.
* Tire todas as suas dúvidas de como funciona.
\
\
Endereço: Avenida das Nações Unidas 12.399, 4º andar, São Paulo.
Telefone: (11) 5111-8277
Email: #{ENV["MAIL_DEFAULT_FROM"]}
\
\
AirCRM © Copyright 2013. Todos os Direitos Reservados.
