  <label class="string optional control-label" for="item_accepts_mercadopago">
     <input id="item_accepts_mercadopago" name="meli_infos[accepts_mercadopago]" type="checkbox" value="true">
     MercadoPago
   </label>

  </br>
  </br>
   Os compradores poderão pagar com diversos meios de pagamento, parcelado ou à vista,
   e você poderá transferir o valor de uma vez para uma conta bancária ao custo fixo de R$ 3.
   </br>

   <ul class="list-inline">
     <li>
       <img alt="Visa" class="lazy" src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif" style="display: inline;">
     </li>
     <li>
       <img alt="Mastercard" class="lazy" src="https://www.mercadopago.com/org-img/MP3/API/logos/master.gif" style="display: inline;">
     </li>
     <li>
       <img alt="Hipercard" class="lazy" src="https://www.mercadopago.com/org-img/MP3/API/logos/hipercard.gif" style="display: inline;">
     </li>
     <li>
       <img alt="American Express" class="lazy" src="https://www.mercadopago.com/org-img/MP3/API/logos/amex.gif" style="display: inline;">
     </li>
     <li>
       <img alt="Diners" class="lazy" src="https://www.mercadopago.com/org-img/MP3/API/logos/diners.gif" style="display: inline;">
     </li>
     <li>
       <img alt="Elo" class="lazy" src="https://www.mercadopago.com/org-img/MP3/API/logos/elo.gif" style="display: inline;">
     </li>
     <li>
       <img alt="Cartão MercadoLivre" class="lazy" src="https://www.mercadopago.com/org-img/MP3/API/logos/melicard.gif" style="display: inline;">
     </li>
     <li>
       <img alt="Boleto" class="lazy" src="https://www.mercadopago.com/org-img/MP3/API/logos/bolbradesco.gif" style="display: inline;">
     </li>
   </ul>


