<label class="string optional control-label">
   <input id="item_accepts_mercadopago" name="meli_infos[shipping]" type="checkbox" value="true">
   Mercado Envios
</label>

</br>
 Permitirá que você faça envios pelos Correios com preços promocionais e você se destacará nas listas
 </br>

 <label class="string optional control-label">
    <input id="item_accepts_mercadopago" name="meli_infos[shipping]" type="checkbox" value="true">
    Oferecer retiradas em mãos
 </label>
 </br>
 </br>
