<div id="item-step-listing_type" class="row  hidden">
   <div class="col-lg-12">

     <div class="panel">
       <div class="panel-body">
         <div class="panel-heading">Escolha um tipo de anúncio</div>

         <!-- Listing Type Id - [ :gold_premium, :gold, :silver, :bronze, :free ] -->
         <!-- Only modifiable if item is not published -->
         <% unless !item.meli_item_id? %>
           <%= f.label :listing_type_id %>
           <% Mercadolibre::Item.listing_type_ids.each do |type| %>
             <%= f.radio_button :listing_type_id, type %>
             <%= t(type, scope: "helpers.items.listing_type") %>
           <% end %>
         <% end %>

       </div>
     </div>
   </div>
 </div>
