<!-- page start
-->
<div class="row">
  <div class="col-lg-12">

    <section class="panel" id="all-items">
      <header class="panel-heading">
        <ul class="breadcrumb">
          <li>
            <a href="/d">Painél</a>
          </li>
          <li class="active">
            Concorrência
          </li>
        </ul>
      </header>
      <div class="panel-body">
          <% if !params[:view] and !params[:query] %>
          <div class="no-more-tables">
            <table class="display table table-bordered table-striped table-condensed no-more-tables">
              <thead>
                <%= render "monitor_from_categories_table_head" %>
              </thead>
              <tbody id="items-body">
                <%= render "monitor_from_categories" %>
              </tbody>
            </table>
          </div>
          <% else %>
          <%= render "alternative_view" %>
          <% end %>

      </div>

    </section>

  </div>
</div>

