<section class="panel" >
    <header class="panel-heading">
      <ul class="breadcrumb">
        <li>
          <a href="/d">Painél</a>
        </li>
        <li class="active">
          Criação de anúncio
        </li>
      </ul>
    </header>  

  <div class="stepy-tab">
    <ul id="default-titles" class="stepy-titles clearfix">
        <li id="default-title-0" class="current-step">
          <div><%= link_to "Categorias", dashboard_categories_path %></div>
        </li>
        <li id="default-title-1" class="current-step">
            <div>Info</div>
        </li>
        <li id="default-title-2" class="current-step">
            <div>Fotos</div>
        </li>
    </ul>
  </div>

</section>