<!-- revolution slider start
-->
<div class="fullwidthbanner-container main-slider" id="slide1">
  <div class="fullwidthabnner">
    <ul id="revolutionul" style="display:none;">
      <!-- 1 slide
      -->
      <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-transition="fade">
        <div class="caption lfl slide_item_left" data-easing="easeOutBack" data-speed="400" data-start="1500" data-x="10" data-y="70">
          <img alt="Image 1" src="assets/home/banner/ban2-7c926eec77174e8f04db1cf5a6b8dc95.png"/>
        </div>
        <div class="caption lfr slide_title" data-easing="easeOutExpo" data-speed="400" data-start="1000" data-x="670" data-y="30">
          Tudo que você precisa
        </div>
        <a class="caption lfr slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="100" href="#slide2">
          Gerencie suas vendas
        </a>
        <a class="caption lfr slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="150" href="#slide3">
          Crie anúncios em massa
        </a>
        <a class="caption lfr slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="200" href="#slide4">
          Gerencie suas perguntas
        </a>
        <a class="caption lfr slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="250" href="#slide5">
          Analise sua concorrência
        </a>
        <a class="caption lfr slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="300" href="#slide2">
          Esqueção falta de endereços e lances duplicados
        </a>
        <div class="caption lfr slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="350">
          Imprima etiquetas em massa
        </div>
        <a class="caption lfr slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="400" href="#slide6">
          Qualifique e cobre qualificações automaticamente
        </a>
        <a class="caption lfr slide_subtitle" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="450" href="#slide8">
          Imprima recibos 
        </a>        
        <%= link_to user_session_path, class: "caption lfr slide_btn btn yellow ", data: { easing: "easeOutExpo", speed: "400", start: "3500", x: "670", y: "500" } do %>
          <%= t(".free_trial") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<!-- 2nd slide
-->
<div class="fullwidthbanner-container" id="slide2">
  <div class="fullwidthabnner">
    <ul id="revolutionul" style="display:none;">
      <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-transition="fade">
        <div class="caption lfl slide_item_left" data-easing="easeOutBack" data-speed="400" data-start="1500" data-x="10" data-y="100">
          <a href="assets/home/service/sales_management-021a08f2b6d52cbf34fc154c6c0a9ed1.png" class="fancybox" rel="group">
            <img alt="Image 1" src="assets/home/service/sales_management-021a08f2b6d52cbf34fc154c6c0a9ed1.png" style="width: 530px; height:350px"/>
          </a>          
        </div>
        <div class="caption lfr slide_title" data-easing="easeOutExpo" data-speed="400" data-start="1000" data-x="670" data-y="120">
          Gerenciador de Vendas
        </div>
        <div class="caption lfr slide_subtitle dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="190">
          Muito moderno e intuitivo
        </div>
        <div class="caption lfr slide_desc_service" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="670" data-y="260">
          Gerencie todas suas vendas do Mercado Livre sem precisar sair do AirCRM.
          <br/>
          Você pode gerenciar cada ordem individualmente alterando os status de
          <br/>
          de pagamento, entrega, dados do cliente e dados da entrega. Os pedidos
          <br/>
          do Mercado Pago e Mercado Envios são atualizados automaticamente os que
        </div>
        <div class="caption lfr slide_desc_service" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="670" data-y="360">
          não utilizam Mercado Pago e ME1 ou ME2 são atualizados por você. Além
          <br/>
          disso o sistema envia sozinho ao menos um alerta cobrando o endereço
          <br/>
          dos clientes dos pedidos que não possuem endereço. 
        </div>
        <div class="caption lfr slide_desc_service" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="670" data-y="440">
          O sistema também bloqueia lances duplicados e envia qualificação 
          <br/>
          automática para todas as suas vendas. Oferecemos ferramentas de 
          <br/>
          busca de pedidos e filtros por status. 
        </div>        
        <a class="caption lfr slide_desc_service_link" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="520" href="#slide1">
          Voltar
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- 3 slide
-->
<div class="fullwidthbanner-container main-slider-service" id="slide3">
  <div class="fullwidthabnner">
    <ul id="revolutionul" style="display:none;">
      <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-transition="fade">
        <div class="caption lft slide_title" data-easing="easeOutExpo" data-speed="400" data-start="1500" data-x="10" data-y="125">
          Crie anúncios em massa
        </div>
        <div class="caption lft slide_subtitle dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="10" data-y="180">
          Simples e rápido
        </div>
        <div class="caption lft slide_desc dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="10" data-y="240">
          Você pode importar anúncios em massa através do excel que o AirCRM
          <br/>
          irá publica-los automaticamente no Mercado Livre para você.
        </div>        
        <div class="caption lft slide_desc dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="10" data-y="310">
          Além disso você pode criar anúncios e editar individuais 
          <br/>
          através de  interface moderna e de fácil entendimento. 
        </div>
        <a class="caption lfr slide_desc_service_link" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="10" data-y="400" href="#slide1">
          Voltar
        </a>
        <div class="caption lft start" data-easing="easeOutBack" data-speed="400" data-start="2000" data-x="640" data-y="55">
          <a href="assets/home/service/listing_management-3e33f5ca86221dd52714847478725d58.png" class="fancybox" rel="group">
            <img alt="Image 1" src="assets/home/service/listing_management-3e33f5ca86221dd52714847478725d58.png" style="width: 530px; height:350px"/>
          </a>          
        </div>

      </li>
    </ul>
  </div>
</div>
<!-- 4 slide
-->
<div class="fullwidthbanner-container" id="slide4">
  <div class="fullwidthabnner">
    <ul id="revolutionul" style="display:none;">
      <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-transition="fade">
        <div class="caption lfl slide_item_left" data-easing="easeOutBack" data-speed="400" data-start="1500" data-x="10" data-y="100">
          <a href="assets/home/service/question_management-7d0e80353d005c02f2b1ab181a5cf1bf.png" class="fancybox" rel="group">
            <img alt="Image 1" src="assets/home/service/question_management-7d0e80353d005c02f2b1ab181a5cf1bf.png" style="width: 530px; height:350px"/>
          </a>          
        </div>
        <div class="caption lfr slide_title" data-easing="easeOutExpo" data-speed="400" data-start="1000" data-x="670" data-y="120">
          Perguntas e respostas
        </div>
        <div class="caption lfr slide_subtitle dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="190">
          Histórico de conversas
        </div>
        <div class="caption lfr slide_desc_service" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="670" data-y="260">
          Só no AirCRM você pode ver o histórico de conversas com um usuário sobre 
          <br/>
          um produto. Isso ajuda muito nas repostas e pode aumentar usa conversão.
          <br/>
          Além disso você conta com filtros de busca por id do anúncio e status da
          <br/>
          da pergunta. 
        </div>
        <div class="caption lfr slide_desc_service" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="670" data-y="360">
          Além disso na mesma tela você consegue acessar informações úteis sobre 
          <br/>
          o produto e o clente que o ajudarão a dar a melhor resposta. 
          <br/>
          Você ainda pode bloquear e desbloquear usuários.
        </div>
        <a class="caption lfr slide_desc_service_link" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="470" href="#slide1">
          Voltar
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- 5 slide
-->
<div class="fullwidthbanner-container main-slider-service" id="slide5">
  <div class="fullwidthabnner">
    <ul id="revolutionul" style="display:none;">
      <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-transition="fade">
        <div class="caption lft slide_title" data-easing="easeOutExpo" data-speed="400" data-start="1500" data-x="10" data-y="125">
          Análise da Concorrência
        </div>
        <div class="caption lft slide_subtitle dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="10" data-y="180">
          Preço, quantidade vendida e em estoque
        </div>        
        <div class="caption lft slide_desc dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="10" data-y="240">
          Na tela de anúncio você terá um link para analisar a concorrência
          <br/>
          em cada um de seus produtos. Você poderá descobrir quais são os 
          <br/>
          principais anúncios e vendedores concorrentes, o nível de estoque 
          <br/>
          preço, quantidade vendida e tipo de anúncio de cada produto. 
        </div>
        <div class="caption lft slide_desc dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="10" data-y="370">
          Na tela de concorrência você poderá fazer buscas por produto
          <br/>
          e categoria para saber obter as mesmas informações e com isso
          <br/>
          balizar o seu anúncio para aumentar sua conversão.
        </div>        
        <a class="caption lfr slide_desc_service_link" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="10" data-y="470" href="#slide1">
          Voltar
        </a>
        <div class="caption lft start" data-easing="easeOutBack" data-speed="400" data-start="2000" data-x="640" data-y="55">
          <a href="assets/home/service/competition_management-050521cc635b81c7727da383371465c4.png" class="fancybox" rel="group">
            <img alt="Image 1" src="assets/home/service/competition_management-050521cc635b81c7727da383371465c4.png" style="width: 530px; height:350px"/>
          </a>          
        </div>

      </li>
    </ul>
  </div>
</div>

<!-- 6 slide
-->
<div class="fullwidthbanner-container" id="slide6">
  <div class="fullwidthabnner">
    <ul id="revolutionul" style="display:none;">
      <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-transition="fade">
        <div class="caption lfl slide_item_left" data-easing="easeOutBack" data-speed="400" data-start="1500" data-x="10" data-y="100">
          <a href="assets/home/service/feedback_management-7c867b1a6bc315bda232d569695b39d5.png" class="fancybox" rel="group">
            <img alt="Image 1" src="assets/home/service/feedback_management-7c867b1a6bc315bda232d569695b39d5.png" style="width: 530px; height:350px"/>
          </a>          
        </div>
        <div class="caption lfr slide_title" data-easing="easeOutExpo" data-speed="400" data-start="1000" data-x="670" data-y="120">
          Qualificações
        </div>
        <div class="caption lfr slide_subtitle dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="190">
          Envio automático
        </div>
        <div class="caption lfr slide_desc_service" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="670" data-y="260">
          Envio automátivo de qualificação para a compra
          <br/>
          sempre que uma venda tem seu pagamento confirmado. 
          <br/>
          Você pode configurar a mensagem de envio. 
        </div>
        <div class="caption lfr slide_desc_service" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="670" data-y="360">
          Além disso oferecemos filtros e ferramentas de busca 
          <br/>
          por ordem e nota recebida. Você ainda pode ver 
          <br/>
           informações do cliente, produto e ordem. 
        </div>
        <a class="caption lfr slide_desc_service_link" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="470" href="#slide1">
          Voltar
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- 7 slide
-->
<div class="fullwidthbanner-container main-slider-service" id="slide7">
  <div class="fullwidthabnner">
    <ul id="revolutionul" style="display:none;">
      <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-transition="fade">
        <div class="caption lft slide_title" data-easing="easeOutExpo" data-speed="400" data-start="1500" data-x="10" data-y="125">
          Impressão de Recibos
        </div>
        <div class="caption lft slide_subtitle dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="10" data-y="180">
          Automatize seus recibos
        </div>        
        <div class="caption lft slide_desc dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="10" data-y="240">
          O sistema prepara automaticamente seus recibos
          <br/>
          em cada um de seus produtos. Você poderá descobrir quais são os 
          <br/>
          principais anúncios e vendedores concorrentes, o nível de estoque 
          <br/>
          preço, quantidade vendida e tipo de anúncio de cada produto. 
        </div>
        <div class="caption lft slide_desc dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="10" data-y="370">
          Na tela de concorrência você poderá fazer buscas por produto
          <br/>
          e categoria para saber obter as mesmas informações e com isso
          <br/>
          balizar o seu anúncio para aumentar sua conversão.
        </div>        
        <a class="caption lfr slide_desc_service_link" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="10" data-y="470" href="#slide1">
          Voltar
        </a>
        <div class="caption lft start" data-easing="easeOutBack" data-speed="400" data-start="2000" data-x="640" data-y="55">
          <a href="assets/home/service/recibo_aircrm-44bb2cb6674e34193c7066f4a8160497.png" class="fancybox" rel="group">
            <img alt="Image 1" src="assets/home/service/recibo_aircrm-44bb2cb6674e34193c7066f4a8160497.png" style="width: 530px; height:350px"/>
          </a>          
        </div>

      </li>
    </ul>
  </div>
</div>

<!-- 8 slide
-->
<div class="fullwidthbanner-container" id="slide8">
  <div class="fullwidthabnner">
    <ul id="revolutionul" style="display:none;">
      <li data-delay="9400" data-masterspeed="700" data-slotamount="8" data-transition="fade">
        <div class="caption lfl slide_item_left" data-easing="easeOutBack" data-speed="400" data-start="1500" data-x="10" data-y="100">
          <a href="assets/home/service/label_management-12cd96ced43be85109a82aaf33494b76.png" class="fancybox" rel="group">
            <img alt="Image 1" src="assets/home/service/label_management-12cd96ced43be85109a82aaf33494b76.png" style="width: 530px; height:350px"/>
          </a>          
        </div>
        <div class="caption lfr slide_title" data-easing="easeOutExpo" data-speed="400" data-start="1000" data-x="670" data-y="120">
          Impressão de Etiquetas
        </div>
        <div class="caption lfr slide_subtitle dark-text" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="190">
          Automatize a impressão de etiquetas
        </div>
        <div class="caption lfr slide_desc_service" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="670" data-y="260">
          As etiquetas de Mercado Envios 2 são automaticamente
          <br/>
          puxando os dados da venda, do item e dos clientes
          <br/>
          Você clica em imprimir recibo e o recibo aparece pronto.
        </div>
        <div class="caption lfr slide_desc_service" data-easing="easeOutExpo" data-speed="400" data-start="2500" data-x="670" data-y="360">
          Você pode personalizar o seu recibo com os 
          <br/>
          seus dados de razão social, CNPJ, endereço etc..,
          <br/>
           e colocar o seu logotipo.
        </div>
        <a class="caption lfr slide_desc_service_link" data-easing="easeOutExpo" data-speed="400" data-start="2000" data-x="670" data-y="470" href="#slide1">
          Voltar
        </a>
      </li>
    </ul>
  </div>
</div>


