/ breadcrumbs start
.breadcrumbs
  .container
    .row
      .col-lg-4.col-sm-4
        %h1 Termos de Uso
      .col-lg-8.col-sm-8
        %ol.breadcrumb.pull-right
          %li
            = link_to t(".home"), root_path
          %li.active Terms
/ breadcrumbs end
/ container start
.container
  .row
    .col-lg-12.about
      %h3 Aceite dos Termos
      %p
        Este Contrato de Licença de Usuário Final (“EULA”) é um acordo legal entre o licenciado (pessoa física ou jurídica) (o “LICENCIADO”) e a AIRCRM - DESENVOLVIMENTO DE SOFTWARE E SERVICOS DE INFORMATICA LTDA, pessoa jurídica de direito privado, inscrita no CNPJ sob n. 18.174.129/0001-81, (a “LICENCIANTE”) para uso do programa de computador denominado AirCRM, disponibilizado neste ato pela LICENCIANTE (o “SOFTWARE”), pelo prazo determinado pelo LICENCIADO no ato do licenciamento do SOFTWARE, o que inclui o programa de computador e pode incluir os meios físicos associados, quaisquer materiais impressos, e qualquer documentação “online” ou eletrônica. Ao utilizar o SOFTWARE, mesmo que parcial ou a título de teste, o licenciado estará vinculado aos termos deste EULA, concordando com os mesmos. Em caso de discordância dos termos aqui apresentados, a utilização do SOFTWARE deve ser imediatamente interrompida.
      %h3 1. CLÁUSULA PRIMEIRA - OBJETO
      %p
        1.1 É objeto do presente contrato o uso do”Software, disponibilizado neste ato pelo “Licenciante”.
      %h3 2. CLÁUSULA SEGUNDA – PRAZO
      %p
        2.1 O presente contrato entra em vigor na data de seu aceite pelo LICENCIADO e vigorará pelo prazo indeterminado.
      %h3
        3. CLÁUSULA TERCEIRA - DA REMUNERAÇAO E FORMAS DE PAGAMENTO
      %p
        3.1 O LICENCIADO deve pagar à LICENCIANTE o valor do respectivo plano escolhido de acordo com a periodicidade definida entre as opções de pagamento disponibilizadas ao LICENCIADO no ato da contratação.

        3.2 Caso o LICENCIADO, no decorrer da vigência do presente instrumento, opte por outro plano de licenciamento, os valores serão alterados de acordo com o respectivo plano escolhido.

        3.3 A falta de pagamento nas datas determinadas para seu vencimento acarretará na suspensão de acesso ao SOFTWARE até que as pendências financeiras sejam regularizadas.

        3.4 Caso a suspensão permaneça por prazo superior a 30 (trinta) dias, a LICENCIANTE poderá excluir integralmente as informações lançadas no SOFTWARE pelo LICENCIADO.

        3.5 Os valores estabelecidos no ato do licenciamento do SOFTWARE serão atualizados anualmente ou no menor lapso de tempo legalmente permitido pelo IGPM-FGV acumulado no período, ou no caso de extinção deste, de outro índice oficial que venha a substituí-lo.
      %h3
        4. CLÁUSULA QUARTA - DA PROPRIEDADE INTELECTUAL
      %p
        4.1 O “Licenciado” não adquire, pelo presente contrato, nenhum direito de propriedade intelectual ou outros direitos exclusivos, incluindo patentes, desenhos, marcas, direitos autorais ou direitos sobre informações confidenciais ou segredos de negócio, sobre ou relacionados ao “Software” ou nenhuma parte dele. O “Licenciado” também não adquire nenhum direito sobre ou relacionado ao “Software” ou qualquer componente dele, além dos direitos expressamente licenciados ao mesmo sob o presente contrato ou em qualquer outro contrato mutuamente acordado por escrito que o “Licenciado” possa ter celebrado com a ”Licenciante”. Quaisquer direitos não expressamente concedidos sob o presente instrumento são reservados.
      %h3
        5. CLÁUSULA QUINTA – LICENÇA DO USO DE SOFTWARE
      %p
        5.1 Sujeito aos termos e condições do presente instrumento, este contrato concede ao “Licenciado” uma licença revogável, não exclusiva e intransferível para usar o “Software”.  O “Licenciado” não poderá utilizar e nem permitir o uso do “Software”para uma outra finalidade que não seja o uso interno com os seus “Lojistas.” Esta licença não implica na capacidade de acessar outros softwares além daqueles originalmente localizados no “Software”.  Em nenhuma hipótese o “Licenciado” terá acesso ao código fonte do “Software” ora licenciado, por este se tratar de propriedade intelectual da “Licenciante”.
      %h3
        6. CLÁUSULA SEXTA – DAS RESTRIÇOES
      %p
        6.1 Em hipótese alguma é permitido ao “Licenciado ou a terceiros, de forma geral:
        a.  copiar, ceder, sublicenciar, vender, dar em locação ou em garantia, reproduzir, doar, alienar de qualquer forma, transferir total ou parcialmente, sob quaisquer modalidades, gratuita ou onerosamente, provisória ou permanentemente, o “Software” objeto deste instrumento, assim como seus módulos, partes, manuais ou quaisquer informações relativas ao mesmo;
        b.  retirar ou alterar, total ou parcialmente, os avisos de reserva de direito existente no “Software” e na documentação;
        c.  praticar engenharia reversa, descompilação ou desmontagem do”Software”.
      %h3
        7. CLÁUSULA SETIMA – RESTITUIÇAO DAS INFORMAÇOES
      %p
        7.1 Suspenso o acesso ao “Software”, a “Licenciante” manterá as informações do “Lojista” lançadas no mesmo pelo período de 30 (trinta) dias, contados da suspensão de acesso. Neste período, a “Licenciante” tornará as informações do “Licenciado” disponíveis para serem extraídas do”Software”.
      %h3
        8. CLÁUSULA OITAVA – DAS OBRIGAÇOES DO LICENCIADO
      %p
        8.1 Obriga-se o “Licenciado” a:
        a.  Manter pessoal treinado para a operação do “Software” e para a comunicação com a “Licenciante” e prover, sempre que ocorrerem quaisquer problemas com o”Software”, toda a documentação, relatórios e demais informações que relatem as circunstâncias em que os problemas ocorreram, objetivando facilitar e agilizar os trabalhos;
        b.  Manter, às suas expensas, linha de telecomunicação, modem, software de comunicação, endereço de correio eletrônico e outros recursos necessários à comunicação com a “Licenciante”;
        c.  Responder pelas informações inseridas no ”Software”, pelo cadastramento, permissões, senhas e modo de utilização de seus usuários. A “Licenciante” em hipótese alguma será responsável pelo conteúdo (informações, senhas, cópias de informações, etc) sobre o “Software”, não sendo, portanto, estas informações revisadas em momento algum. A responsabilidade pelas informações do “Software” é sempre do”Licenciado”.
        d.  Providenciar por sua conta um ambiente de hardware e software de acordo com as especificações técnicas necessárias para o adequado funcionamento do “Software”.
      %h3
        9. CLÁUSULA NONA – DAS OBRIGAÇOES DO LICENCIANTE
      %p
        9.1 Obriga-se a “Licenciante” a:
        a.  Prestar ao Licenciado os serviços elencados no ANEXO A, da forma ali determinada
        b.  A “Licenciante” garante ao “Licenciado” que o “Software” deverá funcionar regularmente, se respeitadas as condições de uso definidas na documentação. Na ocorrência de falhas de programação (“bugs”), a “Licenciante” obrigar-se-á a corrigir tais falhas, podendo à seu critério, substituir a cópia dos Programas com falhas por cópias corrigidas;
        c.  Suspender o acesso ao “Software” que esteja desrespeitando as regras de conteúdo aqui estabelecidas ou as normas legais em vigor ou ainda, ao final do prazo de validade deste instrumento, independentemente de aviso prévio;
        d.  Alterar as especificações e/ou características do “Software” licenciados para a melhoria e/ou correções de erros;
        e.  Disponibilizar acesso aos serviços de suporte compreendido das 09:00h às 12:00h e das 14:00h às 18:00h (pelo horário de Brasilia) via chat, através de correio eletrônico (contato@aircrm.com.br) ou telefone para esclarecimento de dúvidas de ordem não funcional diretamente relacionadas a problemas no ”Software”.
      %h3
        10. CLÁUSULA DECIMA – ISENÇAO DE RESPONSABILIDADE DO LICENCIANTE
      %p
        10.1 A isenção de responsabilidade do licenciante aplica-se:
        a.  Por falha de operação, operação por pessoas não autorizadas ou qualquer outra causa em que não exista culpa da ”Licenciante”;
        b.  Pelo cumprimento dos prazos legais do ”Licenciado” para a entrega de documentos fiscais ou pagamentos de impostos;
        c.  Pelos danos ou prejuízos decorrentes de decisões administrativas, gerenciais ou comerciais tomadas com base nas informações fornecidas pelo SOFTWARE e;
        d.  O ”Licenciado”  será responsável por todas e quaisquer obrigações a ela atribuídas e não cumpridas, sejam elas fiscais, tributárias ou de qualquer outra natureza, devendo isentar e indenizar a ”Licenciante”; no caso de quaisquer delas virem a recair indevidamente sobre a ”Licenciante”;.
        e.  Indenização Fiscal: o ”Licenciado”  deverá indenizar, defender e insentar a ”Licenciante”; de todas e quaisquer reividicações, ações, danos, obrigações, custas, inclusive honorários advocatícios e demais despesas, oriundos de reivindicações de impostos, taxas ou outras contribuições fiscais indevidas, retidas ou assumidas pela contratante, de acordo com o presente Contrato. Essa responsabilidade subsistirá enquanto persistir o direito para tais reivindicações.
        f.  Por problemas definidos como “caso fortuito” ou “força maior” contemplados pelo Art. 393, do Código Civil Brasileiro.
      %h3
        11. CLÁUSULA DECIMA PRIMEIRA – CONFIDENCIALIDADE
      %p
        11.1 As partes obrigam-se a manter a confidencialidade das informações fornecidas ou obtidas junto a outra parte, sejam estas classificadas como “informações confidenciais”ou não, abrangendo, inclusive, quaisquer informações relacionadas a atividade commercial da outra parte, informações cadastrais de clientes e/ou fornecedores, estratégias de negócios, produtos em desenvolvimento, dados financeiros, dados financeiros e estatísticos, negociações em andamento, senhas entre outras, que são propriedade exclusiva da outra parte ou de terceiros entregues a guarda desta primeira, não se permitindo, seja por ação ou por omissão, que terceiros não autorizados tenham acesso a tais informações.
      %h3
        12. CLÁUSULA DECIMA SEGUNDA – “DO FORO
      %p
        12.1 Para todas as questões oriundas deste contrato fica, desde já, expressamente eleito o foro central da Comarca da Capital do Estado de São Paulo, com renúncia a qualquer outro, por mais privilegiado que seja.
