%tr
  - # checkbox
  %th.table-checkbox
  %th= @klass.human_attribute_name :name
  %th= @klass.human_attribute_name :invitation_sent_at
  %th= @klass.human_attribute_name :invitation_accepted_at
  - # actions
  %th.table-actions
