.row
  #columns
    %ul#column1.column{:style => "margin-top:100px;"}
      %li#intro.widget.color-green
        .widget-head{:style => "height:20px; text-align:center"}
          %h5 Fase 1
      %li.widget.color-red
        .widget-head
          %h3 Widget title
        .widget-content
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.
    %ul#column2.column{:style => "margin-top:100px;"}
      %li#intro.widget.color-blue
        .widget-head{:style => "height:20px; text-align:center"}
          %h5 Teste1
      %li.widget.color-yellow
        .widget-head
          %h3 Widget title
        .widget-content
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.
    %ul#column3.column{:style => "margin-top:100px;"}
      %li#intro.widget.color-orange
        .widget-head{:style => "height:20px; text-align:center"}
          %h5 Teste 3
      %li.widget.color-white
        .widget-head
          %h3 Widget title
        .widget-content
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.
/ %script{:src => "inettuts.js", :type => "text/javascript"}
