/ container start
.container
  .row
    / price start
    .text-center.feature-head
      %h1 14 dias gratuítos em todas as opções
      %p Sem risco. Sem outras taxas. Cancele a qualquer momento.
    = render @plans

