/ container start
.container
  .row
    / price start
    .text-center.feature-head
      %h1 3 dias gratuítos em todas as opções
      %p Sem risco. Sem outras taxas. Cancele a qualquer momento.
    = render @plans
  .text-center.feature-head
    %h1 Você faz mais de 500 vendas mês?
    %p Entre em contato agora mesmo com a nossa equipe!
    %p contato@aircrm.com.br

